section {
    display:flex;
    flex-direction:column;
    overflow:hidden;
    
    .&__title {
        font-size: 2rem;
        text-align: center;
        margin:2rem 0 .5rem 0;
    }
    
    .&__text {
        text-align:center;
        margin-bottom: 1rem;
        /*line-height: 2.3;*/
        font-size:1rem; 
        font-weight: 300;
    }
    
    
}

    @atMedium{
        background-color:black;
    }