* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*html {*/
/*    width:100%;*/
/*    height:100%;*/
/*}*/

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction:column;
    width:100%;
    height:100%;
    /*padding:10px 20px 10px 20px;*/
}

section {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 0 5rem;
}

section.hero {
    padding:0;
}

section h3.title {
    font-size: 2rem;
    text-align: center;
    margin:3rem 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    opacity:.75;
}

a:hover {
    opacity:1;
}

a.btn {
    padding:20px 50px;
    text-decoration: none
}

.hr {
    width:250px;
    height:3px;
    background-color:black;
    border: 0;
    
}

/*-----Grid-----*/
.grid {
    width:100%;
    display: flex;
}
















/*-----Nav Bar-----*/
header {
    width:100%;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content:space-around;
    align-items:center;
    font-weight:300;
    animation:1s fadein 0.5s forwards;
    opacity:0;
    z-index: 1;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

.nav-left {
    /*width:25%;*/
    display:flex;
    flex-basis:25%;
}

.nav-left li {
    padding-left:20px;
}

.nav-center {
    /*width:40%;*/
    text-align: center;
    display:flex;
    justify-content:center;
    flex-basis:50%;
    font-size:3rem;
    font-weight: 300;
}
.nav-right {
    /*width:25%;*/
    justify-content:flex-end;
    display:flex;
    justify-content:flex-end;
    flex-basis:25%;
}

.nav-right li {
    padding-right:20px;
}

/*Hero Section*/
.hero {
    position:relative;
    justify-content:center;
    text-align: center;
    min-height:100vh;
    /*background-color:black;*/
}

hero__background-image {
    background-attachment:fixed;
}


.hero-text {
    padding-top:20px;
    opacity:0;
    animation:1s slideupfade 1s forwards;
}

@keyframes slideupfade {
    100% {
        opacity:1;
        padding-top:0;
    }
}

.hero-text h1, .hero-text h3, .hero-text a {
    font-weight: 300;
}

.hero-text h1 {
    font-size:4rem;
}

.hero-text h3 {
    padding:2rem 0;
}

.hero-text a {
    color:black;
    background-color:#fff;
}

.hero__background-image {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    z-index:-1;
}

/*-----About-----*/
.about {
    width:100%;
    height:100vh;
}

.about__container {
    display:flex;
    height:100%;
}

.about__text {
    width:50%;
    flex-basis: 50%;
    line-height: 2.5;
}

.about__text p {
    padding-right: 3rem;
}

.about__photo {
    background-color:black;
    width:50%;
    flex-basis: 50%;
}

/*-----Portfolio-----*/

.portfolio .grid {
    display: flex;
    width:100%;
    /*height:100vh;*/
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;

}

.portfolio .grid li {
    width: 24rem;
    height: 17rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    padding-bottom: 1rem;
    padding-right: .5rem;
}

.portfolio .grid li:nth-last-child(1) {
    padding-right:0;
}



/*-----Music-----*/
.music {
    
    
}

iframe {
    border: 0;
    width: 21.875rem;
    height: 787px; 
}

.row {
    display:flex;
    justify-content: space-evenly;
}

.music .row li {
    padding-right:2rem;
}

/*.music iframe:nth-last-child(1) {*/
/*    padding-right:0;*/
/*}*/


/*-----Contact-----*/

.contact iframe {
    width: 25rem;
    height: 25rem;
    border:0;
}


.contact h4 {
    padding-top:2rem;
}

.contact-text {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    
}






.right-half {
    padding-left:2rem;
    width: 25rem;
}

.center-text {
    text-align: center;
}