.contact {
    display:flex;
    width:100%;
    /*min-height: 60vh;*/
    
    &__hr {
    margin-top: 2rem;
    width:5rem;
        @mixin atSmall {
            width:18rem;
        }
    }
    
    &__text {
    font-weight:300;
    line-height:1.7;
    font-size:1.2rem;
    width:100%;
        @mixin atSmall {
        display:block;
        }
    }
    
    iframe {
        @mixin atMedium {
            width:100%;
            height: 450px;
        }
    }
    &__map {
    padding-right:1rem;
    }
    
    &__hide-map {
        display:none;
        @mixin atMedium {
            display:block;
        }
    }
    
    &__subtitle {
        text-align: center;
        margin-bottom: .5rem;
        display:none;
        
        @mixin atSmall {
            display:block;
        }
        
    }
    
    &__link-container {
        display:flex;
        width:100%;
        height:5rem;
        flex-direction:row;
        justify-content:center;
        align-items:center;
            @mixin atSmall {
                height:10rem;
        }
        
        i {
        font-size:2rem;   
        margin-left:2rem;
        @mixin atSmall {
            font-size: 4rem;
        }
        @mixin atMedium {
            margin-left:1rem;
        }
        @mixin atLarge {
            margin-left:2rem;
        }
    }
}

}