.grid {
        min-height:80vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        /*background-color:black;*/
        
    &__portfolio-item {
        padding:1rem;
        background-clip:content-box;
        background-size:cover;
        background-position:center;
        flex-basis:30%;
    }
    
    &__music-item {
        width:30%;
         height: 32rem;
    }
    
}
