.music {
    display:flex;
    /*overflow:hidden;*/
    /*height:100vh;*/
    &__iframe {
        display:block;
        height: 650px;
        @mixin atSmall {
            width:30%;
        }
    }
    
}
