.slideInFromScroll {
    &__hidden {
     opacity: 0;
     transform:translate(-100px);
     transition: all 1s linear;
    }
    
    &__visible {
        opacity: 1;
        transform:translate(0);
    }
}